<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />

    <title>Confirmation</title>
  </head>
  <body>
    <header class="header">
      <nav>
        <img alt="Mintake Logo" src="../assets/images/fullIcon.png">
        <ul>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    </header>
    <div class="confirmation-header">
      <h1>INTAKE FORM SUCCESSFULLY SUBMITTED</h1>
    </div>
    <img
      class="confirmation-img"
      src="/assets/images/diana-polekhina--z82VezdK2M-unsplash.jpg"
      alt="Thumbs Up"
    />
    <form method="post" action="/confirmation/sendEmail" method="POST">
      <input type="hidden" name="name" value="value" /> 
      <input id="email" type="submit" value="Send Confirmation Email">
    </form>
    <button class="confirmation-btn" id="email" onclick="location.href='/'">
      THANK YOU
    </button>
    <footer class="confirmation-footer">
      <h3>&copy;2022 Patient Intake Application</h3>
    </footer>
  </body>
</html>
