<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <title>Confirmation</title>
  </head>
  <body>
    <header class="header">
      <nav>
        <img alt="Mintake Logo" src="../assets/images/fullIcon.png" />
        <ul>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    </header>
    <div class="confirmation-header">
      <h1>Thanks for your submission!</h1>
      <p>
        Your submission has been recorded in our database and is now available
        for your physician to review. Feel free to edit your intake form at any
        time.
      </p>
      <p>
        If you'd like a submission confirmation email to be delivered to your
        user email, please click the appropriate button below.
      </p>
      <p>Thank you for submitting your information with Mintake!</p>
    </div>
    <img
      class="confirmation-img"
      src="/assets/images/diana-polekhina--z82VezdK2M-unsplash.jpg"
      alt="Thumbs Up"
    />
    <form
      class="confirmationForm"
      method="post"
      action="/confirmation/sendEmail"
      method="POST"
    >
      <input type="hidden" name="name" value="value" />
      <input id="email" type="submit" value="Send Confirmation Email" />
    </form>
    <button class="confirmation-btn" id="email" onclick="location.href='/'">
      THANK YOU
    </button>
    <footer class="confirmation-footer">
      <h3>&copy;2022 Patient Intake Application</h3>
    </footer>
  </body>
</html>
