<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup / Login</title>
</head>
<body>
    <h1>Signup today to connect with your physician</h1>
    <div>
        <button onclick="window.location.href='/login'">Login</button>
        <button onclick="window.location.href='/signup'">Signup</button>
    </div>
</body>
</html>