<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Signup / Login</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <nav>
        <img alt="Mintake Logo" src="../assets/images/fullIcon.png">
        <ul>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Signup</a></li>
        </ul>
      </nav>
    </header>
    <section class="introduction">
        <h1>Welcome to Mintake!</h3>
        <p>Mintake is a lightweight intake paperwork processing app meant to connect physicians with their patients prior to their appointments.  Log your medications, medical conditions, and concerns prior to your appointment for physician review.  Better communication leads to better outcomes!</p>
    </section>
    <div class="login">
      <h2 class="login-header">
        Sign Up Today and Connect With Your Physician
      </h1>
      <img
        class="index-img"
        src="/assets/images/national-cancer-institute-NFvdKIhxYlU-unsplash.jpg"
        alt="login"
      />
      <div class="login-index">
        <button class="login-login" onclick="window.location.href='/login'">
          Login
        </button>
        <button class="login-signup" onclick="window.location.href='/signup'">
          Signup
        </button>
      </div>
    </div>
  </body>
</html>
