.completed {
  text-decoration: line-through;
  color: gray;
}

.not {
  text-decoration: underline;
}

.logout-btn {
  float: right;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* Sign up */

#form {
  display: flex;
  justify-content: center;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form input {
  margin: 8px 0;
}

.basicInfo {
  font-weight: bold;
  margin: 32px 0;
}

.basicInfo::before {
  content: '\a';
  white-space: pre;
}

#submit::before {
  content: '\a';
  white-space: pre;
}

li {
  list-style: none;
}

.medicalHistory::before,
.medicalHistory::after {
  content: '\a';
  white-space: pre;
}

#allConditions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.signatureBlock::before {
  content: '\a';
  white-space: pre;
}

#submit {
  display: block;
}

#logout::before {
  content: '\a';
  white-space: pre;
}

/* INDEX */
.login-header,
.login-index {
  display: flex;
  justify-content: center;
}

.login-login,
.login-signup {
  background-color: rgb(0, 165, 245);
  color: white;
  padding: 14px 20px;
  margin: 16px 10px;
  border: none;
  cursor: pointer;
  border-radius: 10%;
}

/* LOGIN */

.login-form form {
  padding: 16px;
  outline: 3px solid rgb(128, 128, 128);
}

.login-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-text > h3 {
  font-weight: lighter;
}

.login-form {
  height: 200px;
  padding: 16px;
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type='email'],
input[type='password'],
input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  outline: 1px solid #ccc;
  box-sizing: border-box;
}

.login-form label {
  font-weight: bold;
  color: black;
  font-size: 16px;
}
.login-btn {
  display: flex;
  align-items: flex-end;
  background-color: rgb(0, 165, 245);
  color: white;
  padding: 14px 20px;
  margin: 32px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.login-button:hover {
  opacity: 0.8;
}

/* Sign Up */
.signup-header {
  text-transform: capitalize;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signup-btn {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(0, 165, 245);
  color: white;
  padding: 14px 20px;
  margin: 16px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* CONFIRMATION */
.confirmation-btn {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 165, 245);
  color: white;
  margin: 15px auto;
  width: 20%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirmation-header {
  display: flex;
  justify-content: center;
}

.confirmation-footer {
  font-size: 10px;
  float: left;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}
/* Images */

.index-img,
.confirmation-img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

/* Header */
body {
  margin: 0;
}

.header {
  position: sticky;
  top: 0;
  background-color: #ccc;
}

.header nav {
  display: flex;
  justify-content: space-between;
}

.header nav ul {
  padding: 0;
  margin: auto 0;
  display: flex;
  justify-content: space-evenly;
}

.header nav li {
  padding: 0 1rem;
}

.header nav img {
  height: 3rem;
  padding: 0.5rem 1rem;
}

.header a {
  text-decoration: none;
  color: rgb(0, 165, 245);
  cursor: pointer;
}